<%= render :partial => "feedback_reviews/summary", :locals => {:review => review}%>
<%= form_for((@feedback_review ||= review.feedback_reviews.build), :url => feedback_review_path(review), :method => :post, :remote => true) do |f| %>
<% unless @feedback_review.errors.empty? %>
 <span class="error"><%= @feedback_review.errors[:rating] %></span>
 <br />
<% end %>

<%= t(:was_this_review_helpful) %>
<% for i in 1..Rating.get_nb_stars %>
<%= radio_button_tag "feedback_review[rating]", pluralize(i, 'stars'), false, :class => "star" %>
<% end %>
<%= hidden_field_tag "feedback_review[user_id]", current_user.try(:id) %>
<button class="feedback-review"><span><%= t("yes") %></span></button>
<% end %>
