<div class="review_fine_print">
  <h2><%= Spree.t('the_fine_print') %></h2>
  <ul>
    <li><%= Spree.t('terms_text') %>: <%= link_to Spree.t(:terms_and_conditions), url_for(:action => 'terms') %></li>
    <li><%= Spree.t('approved_text') %></li>
    <li><%= Spree.t('guideline_text') %>
      : <%= link_to Spree.t(:review_guidelines), url_for(:action => 'submissionguidelines') %></li>
  </ul>
</div>
