
<%= form_for review, url: product_reviews_path(product), html: { method: :post } do |f| %>
  <%= render 'spree/shared/error_messages', target: review %>
<div class="row">
  <div class="form-group col">
    <%= render 'spree/reviews/stars', stars: review.rating, edit_enabled: true %>
  </div>
</div>

<div class="row">
    <div class="form-group col-12">
      <%= f.label :name %>
      <%= f.text_field :name, maxlength: 255, size: 50, class: 'form-control' %>
    </div>

    <div class="form-group col-12">
      <%= f.label :title %>
      <%= f.text_field :title, maxlength: 255, size: 50, class: 'form-control' %>
    </div>

    <div class="form-group col-12">
      <%= f.label :review %>
      <%= f.text_area :review, wrap: 'virtual', rows: 10, cols: 50, class: 'form-control' %>
    </div>

    <% if Spree::Reviews::Config[:show_identifier] %>
      <div class="checkbox">
        <%= f.label :show_identifier do %>
          <%= f.check_box :show_identifier, checked: true %>
          <%= Spree::Review.human_attribute_name(:show_identifier) %>
        <% end %>
      </div>
    <% end %>

    <div class="form-actions col-12 mb-3">
      <%= f.submit Spree.t(:submit_your_review), class: 'btn btn-primary' %>
    </div>

      <div class="col-12 mb-5">
        or
        <%= link_to "Go back to " + @product.name, spree.product_path(@product) %>
      </div>

  <% end %>
</div>
