<%= render :partial => 'admin/shared/product_sub_menu' %>

<h1><%= t('review_management_description') %></h1>

<% for reviews in [["Unapproved", @unapproved_reviews], ["Approved", @approved_reviews]] %>
  <h2> <%= reviews[0] %> reviews </h2>

  <table cellspacing=6>
    <tr>
      <th>Date</th>
      <th><%= t('user') %></th>
      <th><%= t('review_title') %> / <%= t('product') %></th>
      <th><%= t('review_content') %></th>
    </tr>
  
    <% for review in reviews[1] %>
    <tr>
      <td> 
        <%= review.created_at.strftime("%d-%m-%y (%H:%M)") %>
      </td>
      <td> 
        <%= h review.name %> from <%= h review.location %>
      </td>
      <td>
        <%= h review.title %>
        <br/>
        for <%= link_to review.product.name, product_path(review.product) %>
      </td>
      <td style="border: 1px dashed green" width="60%">
        <br/>
        <%= h review.review %>
      </td>
      <td>
        <% unless review.approved %>
          <%= link_to t('approve'), {:action => 'approve', :id => review} %> |
        <% end %>
          <%= link_to t('edit'), [:edit, :admin, review] %> |
          <%= link_to t('destroy'), [:admin, review], :method => :delete, :confirm => t('are_you_sure_review') %>
      </td>
    </tr>
  <% end %>
  </table>
  <br/> 
<% end %> 
