<% render 'admin/shared/product_sub_menu' %>
<h1><%= t('review_management_description') %></h1>

<% for reviews in [["Unapproved", @unapproved_reviews], ["Approved", @approved_reviews]] %>
  <h2><%= t(reviews[0]+"_reviews") %></h2>

  <table cellspacing=6 class="index">
    <tr>
      <th><%= Review.human_attribute_name(:created_at) %></th>
      <th><%= Review.human_attribute_name(:user) %></th>
      <th><%= Review.human_attribute_name(:rating) %></th>
      <th><%= Review.human_attribute_name(:title) %> / <%= t('product') %></th>
      <th><%= Review.human_attribute_name(:review) %></th>
      <th></th>
    </tr>

    <% for review in reviews[1] %>
    <tr id="<%= dom_id review %>">
      <td>
        <%= l review.created_at, :format => :long %>
      </td>
      <td>
        <p><%= review.name %> / <%= review.user_id ? link_to(review.user.try(:email), [:admin, review.user]) : t(:guest) %></p>
        <p><%= Review.human_attribute_name(:ip_address) %>: <%= review.ip_address ? link_to(review.ip_address, "http://whois.domaintools.com/#{review.ip_address}") : '-' %></p>
      </td>
      <td>
        <%= txt_stars(review.rating) %>
      </td>
      <td>
        <%= review.title %>
        <%= t('for') %> <%= link_to review.product.name, product_path(review.product) %>
      </td>
      <td width="50%">
        <%= h review.review %>
      </td>
      <td>
        <% unless review.approved %>
          <%= link_to_with_icon 'tick', t('approve'), {:action => 'approve', :id => review.id} %> <br />
        <% end %>
        <%= link_to t('feedback'), admin_review_feedback_reviews_path(review) %>(<%= review.feedback_stars %>/<%= review.feedback_reviews.count %>) <br/>
        <%= link_to_edit review %><br/>
        <%= link_to_delete review %>
      </td>
    </tr>
  <% end %>
  </table>
  <br/>
<% end %>
