<%= render 'spree/shared/error_messages', target: @review %>

<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :review %>
  <%= f.text_area :review, wrap: 'virtual', rows: 10, cols: 60, class: 'form-control' %>
</div>

<% if SpreeReviews::Config[:track_locale] %>
  <div class="form-group">
    <%= f.label :locale %>
    <%= f.select :locale, I18n.available_locales.map { |lc| [t(lc, default: lc.to_s), lc.to_s] }, {}, class: 'select2' %>
  </div>
<% end %>
