<% render 'spree/admin/shared/product_sub_menu' %>
<h1><%= t(:editing_review_for) %> <%= link_to @review.product.name, product_path(@review.product) %></h1>

<h2><%= t(:original_version) %></h2>

<p>
<%= @review.review %>
</p>

<h2><%= t(:edited_version) %></h2>

<% form_for([:admin, @review]) do |f| %>
  <%= render :partial => f,
             :locals  => { :button_name => t(:update) } %>
<% end %>

<%= link_to t('back_reviews'), admin_reviews_path %>
