<% content_for :page_title do %>
  <%= Spree.t(:editing_review_for_html, link: link_to(@review.product.name, product_path(@review.product))) %>
<% end %>

<%= form_for [:admin, @review] do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= render 'form', f: f %>
    </div>
    <div class="col-md-6">
      <% unless @review.title.blank? %>
        <h2><%= @review.title %></h2>
      <% end %>
      <blockquote>
        <%= simple_format(@review.review) %>
      </blockquote>
    </div>
  </div>
  <%= render 'spree/admin/shared/edit_resource_links' %>
<% end %>
