<% content_for :page_title do %>
	<%= Spree.t(:editing_review_for_html, :link => link_to(@review.product.name, product_path(@review.product))) %>
<% end %>

<% render 'spree/admin/shared/product_sub_menu' %>

<%= form_for([:admin, @review]) do |f| %>
	<div class="alpha eight columns">
		<% unless @review.title.blank? %>
			<h2><%= @review.title %></h2>
		<% end %>
		<p>
			<%= simple_format(@review.review) %>
		</p>
	</div>

	<div class="omega eight columns">
		<%= render 'form', :f => f %>
	</div>

	<div class="clear"></div>

	<fieldset class="no-border-top">
		<%= render 'spree/admin/shared/edit_resource_links' %>
	</fieldset>
<% end %>
