<% render 'spree/admin/shared/product_sub_menu' %>

<h1><%= Spree.t('reviews') %></h1>

<table cellspacing=6 class="index">
  <tr>
    <th><%= Spree::Review.human_attribute_name(:created_at) %></th>
    <th><%= Spree::Review.human_attribute_name(:user) %></th>
    <th><%= Spree::Review.human_attribute_name(:rating) %></th>
    <th><%= Spree::Review.human_attribute_name(:title) %> / <%= Spree.t('product') %></th>
    <th><%= Spree::Review.human_attribute_name(:review) %></th>
    <th></th>
  </tr>
<%- @reviews.each do |review| -%>
  <tr id="<%= dom_id review %>">
    <td>
      <%= l review.created_at, :format => :long %>
    </td>
    <td>
      <p><%= review.name %> / <%= review.user_id ? link_to(review.user.try(:email), [:admin, review.user]) : Spree.t(:guest) %></p>
      <p><%= Spree::Review.human_attribute_name(:ip_address) %>: <%= review.ip_address ? link_to(review.ip_address, "http://whois.domaintools.com/#{review.ip_address}") : '-' %></p>
    </td>
    <td>
      <%= txt_stars(review.rating) %>
    </td>
    <td>
      <%= review.title %>
      <% if review.product %>
        <%= Spree.t('for') %> <%= link_to review.product.name, product_path(review.product) %>
      <% end %>
    </td>
    <td width="50%">
      <%= h review.review %>
    </td>
    <td>
      <% unless review.approved %>
        <%= link_to_with_icon 'tick', Spree.t('approve'), {:action => 'approve', :id => review.id} %> <br />
      <% end %>
      <%= link_to Spree.t('feedback'), admin_review_feedback_reviews_path(review) %>(<%= review.feedback_stars %>/<%= review.feedback_reviews.size %>) <br/>
      <%= link_to_edit review %><br/>
      <%= link_to_delete review %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate @reviews -%>

<% content_for :sidebar do %>
  <div class="box" data-hook="admin_reviews_index_search">
    <h3><%= Spree.t(:search) %></h3>

    <%= search_form_for [:admin, @search] do |f| %>
      <p>
        <%= label_tag nil, Spree.t(:user) %><br />
        <%= f.text_field :name_cont, :size => 25 %>
      </p>

      <p>
        <%= label_tag nil, Spree.t(:title) -%><br/>
        <%= f.text_field :title_cont, :size => 25  -%>
      </p>

      <p>
        <%= label_tag nil, Spree.t(:review) -%><br/>
        <%= f.text_field :review_cont, :size => 25  -%>
      </p>

      <p>
        <%= label_tag nil, Spree.t(:approval_status)-%><br/>
        <%= f.select :approved_eq, [[Spree.t('approved_reviews'), true], [Spree.t('unapproved_reviews'), false]]  -%>
      </p>

      <div data-hook="admin_reviews_index_search_buttons">
        <p><%= button Spree.t(:search) %></p>
      </div>
    <%- end -%>
  </div>
<%- end -%>
