<% if @reviewable.is_a?(Spree::Product) %>
  <% render 'spree/admin/shared/product_sub_menu' %>
<% end %>

<h1><%= t('reviews') %></h1>

<table class="index responsive" width="100%">
  <colgroup>
    <col style="width: 16%;">
    <col style="width: 17%;">
    <col style="width: 16%;">
    <col style="width: 17%;">
    <col style="width: 16%;">
    <col style="width: 17%;">
  </colgroup>
  <thead>
    <tr>
      <th><%= Spree::Review.human_attribute_name(:created_at) %></th>
      <th><%= Spree::Review.human_attribute_name(:user) %></th>
      <th><%= Spree::Review.human_attribute_name(:rating) %></th>
      <th><%= Spree::Review.human_attribute_name(:title) %><% if @reviewable.is_a?(Spree::Product) %> / <%= t('product') %><% end %></th>
      <th><%= Spree::Review.human_attribute_name(:review) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
<%- @reviews.each do |review| -%>
  <tr id="<%= dom_id review %>">
    <td>
      <%= l review.created_at, :format => :long %>
    </td>
    <td>
      <p><%= review.name %> / <%= review.user_id ? link_to(review.user.try(:email), [:admin, review.user]) : t(:guest) %></p>
      <p><%= Spree::Review.human_attribute_name(:ip_address) %>: <%= review.ip_address ? link_to(review.ip_address, "http://whois.domaintools.com/#{review.ip_address}") : '-' %></p>
    </td>
    <td>
      <%= txt_stars(review.rating) %>
    </td>
    <td>
      <%= review.title %>
      <% if review.reviewable && review.reviewable.is_a?(Spree::Product) %>
        <%= t('for') %> <%= link_to review.reviewable.name, product_path(review.reviewable) %>
      <% end %>
    </td>
    <td width="50%">
      <%= h review.review %>
    </td>
    <td class="actions">
      <% unless review.approved %>
        <%= link_to_with_icon 'icon-ok', t('approve'), {:action => 'approve', :id => review.id}, :no_text => true %> <br />
      <% end %>
      <%= link_to_with_icon 'icon-comment', t('feedback'), admin_review_feedback_reviews_path(review), :no_text => true %> <br/>
      <%= link_to_edit review, :no_text => true %><br/>
      <%= link_to_delete review, :no_text => true %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate @reviews -%>

<% content_for :table_filter_title do %>
  <%= t(:search) %>
<% end %>

<% content_for :table_filter do %>
  <div class="box" data-hook="admin_reviews_index_search">
    <%= search_form_for [:admin, @search] do |f| %>
      <div class="alpha four columns">
        <div class="field">
          <%= label_tag nil, t(:user) %><br />
          <%= f.text_field :name_cont, :size => 25 %>
        </div> 
      </div>

      <div class="alpha four columns">
        <div class="field">
        <%= label_tag nil, t(:title) -%><br/>
        <%= f.text_field :title_cont, :size => 25  -%>
       </div> 
      </div>

      <div class="alpha four columns">
        <div class="field">
        <%= label_tag nil, t(:review) -%><br/>
        <%= f.text_field :review_cont, :size => 25  -%>
       </div> 
      </div>

      <div class="alpha four columns">
        <div class="field">
        <%= label_tag nil, t(:approval_status)-%><br/>
        <%= f.select :approved_eq, [[t('Approved_reviews'), true], [t('Unapproved_reviews'), false]], {}, :class => 'select2'  -%>
       </div> 
      </div>

      <div class="clear"></div>

      <div class="form-buttons actions filter-actions" data-hook="admin_reviews_index_search_buttons">
        <%= button t(:search), 'icon-search' %>
      </div>
    <%- end -%>
  </div>
<%- end -%>
