<% stars = product.get_stars %>
<div class="header clear">
  <%= t('average_customer_rating') %>: 
  <br/>
  <span title="<%= txt_stars(stars[0]) %>">
    <%= render :partial => "reviews/stars", :locals => {:stars => stars[0]} %>
  </span> &nbsp;
  <br/>
  (<%= t('based_upon') %> <%= t('review', :count => stars[1]) %>)
  <br/>
  <br/>
</div>

