<% content_for :head do %>
  <%= stylesheet_link_tag 'reviews.css' %>
<% end %>
<% stars = product.get_stars %>
<div class="header clear">
  <%=t 'average_customer_rating' %>: 
  (based upon <%= pluralize(stars[1], 'review') %>)
  <span title="<%=pluralize(stars[0], 'star')%> out of 5">
    <%= render :partial => "reviews/stars", :locals => {:stars => stars[0]} %>
  </span> &nbsp;
  <br/>
  <br/>
</div>

