<div class="review">
  <span title="<%= txt_stars(review.rating) %>">
    <%= render :partial => "reviews/stars", :locals => {:stars => review.rating} %>
  </span>
  <% if Spree::Reviews::Config[:show_email] && review.user %>
  <span><%= review.user.email %></span>
  <% else %>
  <span><%= review.name %></span>
  <% end %>
  <span class="title">&nbsp; <%= review.title %> </span>
  <br/>
  <span class="attribution"><%= t('submitted_on') %> <strong><%= l review.created_at.to_date %></strong></span>
  
  <%= simple_format(review.review) %>
  <% if Spree::Reviews::Config[:feedback_rating] && (!Spree::Reviews::Config[:require_login] || current_user) %>
  <div class="feedback_review" id="feedback_review_<%= review.id %>">
    <%= render :partial => "feedback_reviews/form", :locals => {:review => review} %>
  </div>
  <% end %>
</div>
