<div class="review">
  <span title="<%= txt_stars(review.rating) %>">
    <%= render :partial => "reviews/stars", :locals => {:stars => review.rating} %>
  </span>
  <span class="title">&nbsp; <%= review.title %> </span>
  <br/>
  <span class="attribution"><%= t('submitted_on') %> <strong><%= l review.created_at.to_date %></strong></span>
  <p>
  <%= simple_format(review.review) %>
  </p>
  <div class="feedback_review" id="feedback_review_<%= review.id %>">
    <%= render :partial => "feedback_reviews/form", :locals => {:review => review} %>
  </div>
</div>
