<div class="review">
  <span title="<%=pluralize(review.rating, 'star')%> out of 5">
    <%= render :partial => "reviews/stars", :locals => {:stars => review.rating} %>
  </span>
  &nbsp; <span class="title"><%=h review.title%> </span>
  <br/>
  <span class="attribution"><%= t('submitted_on') %> <strong><%= l review.created_at.to_date%></strong></span>
  <p>
  <%=h review.review%>
  </p>
</div>
