<h1><%= link_to Spree.t('feedback_review_for', :review => @review.title ), admin_reviews_path %></h1>


<table class="index">
  <tr>
    <th><%= Spree.t('date_') %></th>
    <th><%= Spree.t('user') %></th>
    <th><%= Spree.t('stars') %></th>
    <th></th>
  </tr>
  <% @collection.each do |feedback| %>
    <tr id="<%= dom_id(feedback) %>">
      <td><%= l feedback.created_at %></td>
      <td><%= feedback.user.try(:login) || "anonimus" %></td>
      <td><%= feedback.rating %></td>
      <td class="actions">
        <%= link_to_delete feedback  %>
      </td>
    </tr>
  <% end %>
</table>
