<%= render 'spree/feedback_reviews/summary', :review => review %>
<%= form_for((@feedback_review ||= review.feedback_reviews.build), :url => feedback_reviews_path(review), :method => :post, :remote => true) do |f| %>
<% unless @feedback_review.errors.empty? %>
 <span class="error"><%= @feedback_review.errors[:rating] %></span>
 <br />
<% end %>
<%= Spree.t(:was_this_review_helpful) %>
<% for i in 1..NB_STARS %>
  <%= radio_button_tag "feedback_review[rating]",
                       Spree.t('star', :count => i), false, :class => "star" %>
<% end %>
<button class="feedback-review"><span><%= Spree.t(:say_yes) %></span></button>
<% end %>
