<% if product.last_star_percentage == 0.0 %>
  <% percentage = 100 %>
<% else %>
  <% percentage == product.last_star_percentage%>
<% end %>
<% stars = product.stars %>
<% reviews_count = product.reviews_count %>
<div class="review-comment">
  <% if stars == 1 %><%= Spree.t(:bad) %><% end %>
  <% if stars == 2 %><%= Spree.t(:poor) %><% end %>
  <% if stars == 3 %><%= Spree.t(:average) %><% end %>
  <% if stars == 4 %><%= Spree.t(:good) %><% end %>
  <% if stars == 5 %><%= Spree.t(:excellent) %><% end %>
</div>
<div id="final-rating" class="display-rating center-ratings col">
  <%= render 'spree/reviews/stars', stars: stars %>
</div>

<div class="row">
  <div class="based-on col mb-2">
    <span style="padding-right: 10px;"><%= product.accurate_average %> <span class="text-secondary" style="text-transform: lowercase;"><%= Spree.t(:average) %></span></span>  <%= reviews_count %> <span class="text-secondary" style="text-transform: lowercase;"><%= Spree.t(:reviews) %></span>
  </div>
</div>

<style>
  #final-rating input[type="radio"]:checked+label{ background: linear-gradient(90deg, rgba(60,187,145,1) 0%, rgba(60,187,145,1) <%= percentage %>%, rgba(255,255,255,1) 0%);
  }
</style>
