<% stars = product.stars %>
<% reviews_count = product.reviews_count %>
<div class="ratings">
  <p><%= t('average_customer_rating') %>: </p>
  <p>
    <span class="stars" title="<%= txt_stars(stars) %>">
      <%= render :partial => "spree/reviews/stars", :locals => {:stars => stars} %>
    </span>
  </p>
  <p>(<%= t('based_upon') %> <%= pluralize reviews_count, "review" %>)</p>
  <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    <meta itemprop="ratingValue" content="<%= stars %>" />
    <meta itemprop="reviewCount" content="<%= reviews_count %>" />
  </div>
</div>
