.review{ :itemprop => "reviews", :itemscope => "itemscope", :itemtype => "http://schema.org/Review" }
  %span.reviews-rating{ :title => "#{ txt_stars(review.rating) }" }
    = render :partial => "spree/reviews/stars", :locals => { :stars => review.rating }
  %span.attribution
    = t('submitted_on')
    %strong{ :itemprop => "datePublished" }= l review.created_at.to_date

  %meta{ :itemprop => "reviewRating", :content => "#{ review.rating }" }
  %span{ :itemprop => "author" }= review.commenter.name
  %div{ :itemprop => "reviewBody" }= simple_format(review.body)