<div class="review mt-4" itemprop="reviews" itemscope itemtype="http://schema.org/Review">
  <span class="reviews-rating" title="<%= txt_stars(review.rating) %>">
    <%= render 'spree/reviews/stars', stars: review.rating %>
  </span>
  <br>
  <span itemprop="name"><strong><%= review.title %></strong></span>
  <br>
  <div itemprop="reviewBody">
    <p class="mb-1 product-review-description"><%= review.review %></p>
  </div>
  <% if Spree::Reviews::Config[:feedback_rating] && (!Spree::Reviews::Config[:require_login] || spree_current_user) %>
    <div class="feedback_review my-3" id="feedback_review_<%= review.id %>">
      <%= render 'spree/feedback_reviews/form', review: review %>
    </div>
  <% end %>
  <span class="attribution product-review-attribution">
    <%#= Spree.t(:submitted_on) %>
    <%= l review.created_at.to_date %>
  </span>
  <span itemprop="datePublished" content="<%= review.created_at.to_date.to_s %>"></span>
  <span itemprop="reviewRating" content="<%= review.rating %>"></span>
  <% if review.show_identifier %>
    <% if Spree::Reviews::Config[:show_email] && review.user %>
      <span itemprop="author"><%= review.user.email %></span>
    <% else %>
      <span itemprop="author" class="product-review-author">- <%= review.name %></span>
    <% end %>
  <% else %>
    <span itemprop="author"><%= Spree.t(:anonymous) %></span>
  <% end %>
</div>
