<div class="review">
  <img width="59" height="11" border="0" alt="<%=pluralize(review.rating, 'star')%> out of 5" src="/images/stars_<%=review.rating%>.gif"/>
  <span class="title"><%=h review.title%> </span><br/>
  <span class="attribution">By <strong><%=h review.name%></strong> from <strong><%=h review.location%></strong> on <strong><%=review.created_at.strftime("%d/%m/%Y") %></strong></span>
  <p>
  <%=h review.review%>
  </p>
</div>
