<div class="review">
  <span title="<%=pluralize(review.rating, 'star')%> out of 5">
    <%= render :partial => "reviews/stars#{review.rating}" %>
  </span>
  <span class="title"><%=h review.title%> </span>
  <br/>
  <span class="attribution">By <strong><%=h review.name%></strong> from <strong><%=h review.location%></strong> on <strong><%=review.created_at.strftime("%d/%m/%Y") %></strong></span>
  <p>
  <%=h review.review%>
  </p>
</div>
