<br/>
<h2><%= t('the_fine_print') %></h2>
<ul>
    <li><%= t('terms_text') %>: <%= link_to t("terms and conditions"), url_for(:action => 'terms') %></li>
    <li><%= t('approved_text') %></li>
    <li><%= t('guideline_text') %>: <%= link_to t("review guidelines"), url_for(:action => 'submissionguidelines') %></li>
</ul>
